body {
    font-family: Arial, sans-serif;
    background-color: beige;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    background-color: white;
    padding: 0;
}

div {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

nav {
	background-color: #336699;
	color: #ffffff;
	padding: 1em;
    text-align: right;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	margin-right: 1em;
}

nav a {
	color: #ffffff;
	text-decoration: none;
}



section {
    margin: 20px;
    text-align: center;
    color: yellowgreen;
}

.button {
    background-color: blue;
    color: white;
    border: 10px;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-size: 15px;
    font-weight: bold;
}

footer {
    color: white;
    background-color: rgb(0, 0, 180);
    padding: 10px;
    text-align: center;
}
/* Media Queries */

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    section {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin-right: 0;
    }
    section {
        padding: 10px;
    }
}